parameters:
	ignoreErrors:
		-
			message: '#^Access to protected property CodeIgniter\\Model\:\:\$primaryKey\.$#'
			identifier: property.protected
			count: 1
			path: src/AssetCollection/SetupAssetCollection.php

		-
			message: '#^PHPDoc tag @var for variable \$rows contains unresolvable type\.$#'
			identifier: varTag.unresolvableType
			count: 1
			path: src/AssetConnect.php

		-
			message: '#^PHPDoc tag @param has invalid value \(class\-string\<Entity&UseAssetConnectTrait\>\|Entity&UseAssetConnectTrait \$entityType The entity type to filter by\)\: Unexpected token "&", expected variable at offset 109 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Models/AssetModel.php

		-
			message: '''
				#^Call to deprecated method __construct\(\) of class CodeIgniter\\HTTP\\DownloadResponse\:
				4\.5\.0 The param \$config is no longer used\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Services/AssetAccessService.php

		-
			message: '#^Trait Maniaba\\AssetConnect\\Traits\\UseAssetConnectModelTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/UseAssetConnectModelTrait.php

		-
			message: '#^Property Maniaba\\AssetConnect\\Validation\\ValidationRuleCollector\:\:\$rules \(non\-empty\-array\<string, list\<string\>\|non\-falsy\-string\>\) does not accept non\-empty\-array\<string, \(Closure\(mixed, array\|null, string\|null, string\)\: bool\)\|list\<string\>\|non\-falsy\-string\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Validation/ValidationRuleCollector.php

		-
			message: '#^Call to function method_exists\(\) with Maniaba\\AssetConnect\\Asset\\AssetAdder and ''toAssetCollection'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: tests/Asset/AssetAdderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Asset\\\\AssetAdder'' and Maniaba\\AssetConnect\\Asset\\AssetAdder will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/Asset/AssetAdderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Asset\\\\AssetMetadata'' and Maniaba\\AssetConnect\\Asset\\AssetMetadata will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/AssetAdderTest.php


		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Asset\\\\Properties\\\\AssetVariantProperty'' and Maniaba\\AssetConnect\\Asset\\Properties\\AssetVariantProperty will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/Properties/AssetVariantPropertyTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/Properties/AssetVariantPropertyTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Asset\\\\Properties\\\\BasicInfoProperty'' and Maniaba\\AssetConnect\\Asset\\Properties\\BasicInfoProperty will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/Properties/BasicInfoPropertyTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Asset\\\\Properties\\\\UserCustomProperty'' and Maniaba\\AssetConnect\\Asset\\Properties\\UserCustomProperty will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/Properties/UserCustomPropertiesTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with Maniaba\\AssetConnect\\Asset\\Properties\\AssetVariantProperty will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/PropertiesTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with Maniaba\\AssetConnect\\Asset\\Properties\\UserCustomProperty will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Asset/PropertiesTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Asset\\\\Interfaces\\\\AssetCollectionDefinitionInterface'' and Maniaba\\AssetConnect\\Asset\\Interfaces\\AssetCollectionDefinitionInterface will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/AssetCollection/AssetCollectionDefinitionFactoryTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/AssetCollection/AssetCollectionDefinitionFactoryTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\AssetCollection\\\\AssetCollection'' and Maniaba\\AssetConnect\\AssetCollection\\AssetCollection will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/AssetCollection/AssetCollectionTest.php

		-
			message: '#^Parameter \#1 \$fromModel of method Maniaba\\AssetConnect\\AssetCollection\\SetupAssetCollection\:\:autoDetectSubjectPrimaryKeyAttribute\(\) expects class\-string\<CodeIgniter\\Model\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/AssetCollection/SetupAssetCollectionTest.php

		-
			message: '#^Parameter \#1 \$pathGenerator of method Maniaba\\AssetConnect\\AssetCollection\\SetupAssetCollection\:\:setPathGenerator\(\) expects class\-string\<Maniaba\\AssetConnect\\PathGenerator\\Interfaces\\PathGeneratorInterface\>\|Maniaba\\AssetConnect\\PathGenerator\\Interfaces\\PathGeneratorInterface, string given\.$#'
			identifier: argument.type
			count: 2
			path: tests/AssetCollection/SetupAssetCollectionTest.php

		-
			message: '#^Access to an undefined property Maniaba\\AssetConnect\\AssetVariants\\Interfaces\\CreateAssetVariantsInterface\:\:\$onQueue\.$#'
			identifier: property.notFound
			count: 1
			path: tests/AssetVariants/AssetVariantsTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\AssetDeleted'' and Maniaba\\AssetConnect\\Events\\AssetDeleted will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/Events/AssetDeletedTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\AssetEventInterface'' and Maniaba\\AssetConnect\\Events\\AssetDeleted will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Events/AssetDeletedTest.php

		-
			message: '#^Call to an undefined method ReflectionType\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Events/AssetEventInterfaceTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\AssetEventInterface'' and Maniaba\\AssetConnect\\Events\\AssetEventInterface@anonymous/tests/Events/AssetEventInterfaceTest\.php\:103 will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Events/AssetEventInterfaceTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\AssetEventInterface'' and Maniaba\\AssetConnect\\Events\\AssetUpdated will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Events/AssetUpdatedTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\AssetUpdated'' and Maniaba\\AssetConnect\\Events\\AssetUpdated will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 7
			path: tests/Events/AssetUpdatedTest.php

		-
			message: '#^Method Maniaba\\AssetConnect\\Models\\AssetModel@anonymous/tests/Events/AssetUpdatedTest\.php\:136\:\:find\(\) never returns array\<int\|string, array\<int\|string, bool\|float\|int\|object\|string\|null\>\|bool\|float\|int\|object\|string\|null\> so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Events/AssetUpdatedTest.php

		-
			message: '#^Method Maniaba\\AssetConnect\\Models\\AssetModel@anonymous/tests/Events/AssetUpdatedTest\.php\:70\:\:find\(\) never returns array\<int\|string, array\<int\|string, bool\|float\|int\|object\|string\|null\>\|bool\|float\|int\|object\|string\|null\> so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Events/AssetUpdatedTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\AssetEventInterface'' and Maniaba\\AssetConnect\\Events\\VariantCreated will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Events/VariantCreatedTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Events\\\\VariantCreated'' and Maniaba\\AssetConnect\\Events\\VariantCreated will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/Events/VariantCreatedTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with PHPUnit\\Framework\\MockObject\\MockObject and Maniaba\\AssetConnect\\AssetVariants\\AssetVariant will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 4
			path: tests/Events/VariantCreatedTest.php

		-
			message: '#^Parameter \#1 \$expected of method PHPUnit\\Framework\\Assert\:\:assertSame\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 4
			path: tests/Events/VariantCreatedTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\UrlGenerator\\\\UrlGenerator'' and Maniaba\\AssetConnect\\UrlGenerator\\UrlGenerator will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/UrlGenerator/UrlGeneratorTest.php

		-
			message: '#^Parameter \#2 \$collectionDefinition of method Maniaba\\AssetConnect\\Validation\\AssetConnectValidator\:\:setFieldCollectionDefinition\(\) expects class\-string\<Maniaba\\AssetConnect\\Asset\\Interfaces\\AssetCollectionDefinitionInterface\>\|Maniaba\\AssetConnect\\Asset\\Interfaces\\AssetCollectionDefinitionInterface, PHPUnit\\Framework\\MockObject\\MockObject given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Validation/AssetConnectValidatorTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Pending\\\\DefaultPendingStorage'' and Maniaba\\AssetConnect\\Pending\\DefaultPendingStorage will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Pending/DefaultPendingStorageTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Pending/DefaultPendingStorageTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Pending\\\\PendingAssetManager'' and Maniaba\\AssetConnect\\Pending\\PendingAssetManager will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Pending/PendingAssetManagerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Pending/PendingAssetManagerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Pending\\\\PendingAsset'' and Maniaba\\AssetConnect\\Pending\\PendingAsset will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 6
			path: tests/Pending/PendingAssetTest.php

		-
			message: '#^Call to an undefined method Maniaba\\AssetConnect\\Asset\\Interfaces\\AssetDefinitionInterface\:\:setId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Pending/PendingAssetTest.php

		-
			message: '#^Access to an undefined property Maniaba\\AssetConnect\\Pending\\PendingAsset\:\:\$nonExistentProperty\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Pending/PendingAssetTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Maniaba\\\\AssetConnect\\\\Pending\\\\PendingSecurityToken\\\\SessionPendingSecurityToken'' and Maniaba\\AssetConnect\\Pending\\PendingSecurityToken\\SessionPendingSecurityToken will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests\Pending\SessionPendingSecurityTokenTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests\Pending\SessionPendingSecurityTokenTest.php

